.hero {
    background-color: #495E57; /* Little Lemonのテーマカラーダークグリーン */
    color: white;
    padding: 2rem;
    text-align: center;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero button {
    background-color: #F4CE14; /* Little Lemon　イエロー */
    color: #333;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.hero button:hover {
    background-color: #E0B800; /* ホバー時　少し濃いイエロー */
}